In [1]:
first_list = [2, 4, 5]
print(first_list**2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [2]:
first_list = [2, 4, 5]

In [4]:
print(map(lambda x: x**2, first_list))

<map object at 0x7f8300886c20>

In [5]:
first_list = [2,4,5]
print(list(map(lambda x: x**2, first_list)))

[4, 16, 25]

In [6]:
#Using the function Map, count the number of words that start with ‘S’ in input_list.
input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
new_list = list(map(lambda x: x[0] == 'S', input_list))
count = sum(new_list)

print(count)

3

In [7]:
def squareit(n):
    return n**2
print(list(map(squareit, first_list)))

[4, 16, 25]

In [9]:
sums_list = [3,5,9,7]
sums_list2 = [4,5,6,7]
print(list(map(lambda x,y : x+y, sums_list,sums_list2)))

[7, 10, 15, 14]

In [11]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']
proper = lambda x, y: x[0].upper()+x[1:] +' '+ y[0].upper()+y[1:]
print(list(map(proper, list_of_names,list_of_names2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [12]:
#Filter
divby3 = lambda x:  x % 3 == 0
my_list = [3,4,5,6,7,8,9]
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [13]:
#Reduce
from functools import reduce
q  = reduce(lambda x, y: x+y, range(1,4))
print(q)

6

In [14]:
list_of_nums = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if x>y else y,list_of_nums))

94

In [15]:
((500//7) % 5) ** 3

1

In [16]:
L = [1, 2, 3]
print(L*2)

[1, 2, 3, 1, 2, 3]

In [19]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
print(L[2:])

[[7, 8, 9, 10]]

In [20]:
T = (3, 5, 7, 11)
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [22]:
def my_func(*args):
    return(sum(args))

print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

15
21

In [23]:
# Given a number ‘n’, output its factorial using reduce().
# Note: Make sure you handle the edge case of zero. As you know, 0! = 1
n = int(input())

# Import the reduce() function
from functools import reduce

f = 1 if n == 0 else reduce(lambda a, b : a*b, range(1, n+1))

print(f)

5
120

In [25]:
# Description
# In a school, there are total 20 students numbered from 1 to 20. You’re given three lists named ‘C’, ‘F’, and ‘H’, representing students who play cricket, football, and hockey, respectively. Based on this information, find out and print the following: 
# Students who play all the three sports
# Students who play both cricket and football but don’t play hockey
# Students who play exactly two of the sports
# Students who don’t play any of the three sports
# Format:
# Input:
# 3 lists containing numbers (ranging from 1 to 20) representing students who play cricket, football and hockey respectively.
# Output:
# 4 different lists containing the students according to the constraints provided in the questions.

# Note: Make sure you sort the final lists (in an ascending order) that you get before printing them; otherwise your answer might not match the test-cases.

# Examples:
# Input 1:
# [2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
# [2, 4, 5, 6, 7, 9, 13, 16]
# [1, 2, 5, 9, 10, 11, 12, 13, 15]
# Output 1:
# [2, 5, 9, 13]
# [16]
# [12, 15, 16]
# [3, 8, 14, 20]

# Explanation:
# 1.Given the three sets, you can see that the students numbered '2', '5', '9', and '13' play all the three sports. 
# 2. The student numbered '16' plays cricket and football but doesn't play hockey. 
# 3. The student numbered '12' and '15' plays cricket and hockey and the student numbered '16' plays cricket and football. There are no students who play only football and hockey. Hence, the students who play exactly two sports are 12, 15, and 16.
# 4. As you can see, the students who play none of the sports are 3, 8, 14, and 20.

import ast,sys
input_str = sys.stdin.read()
input_list = [[2, 5, 9, 12, 13, 15, 16, 17, 18, 19], [2, 4, 5, 6, 7, 9, 13, 16], [1, 2, 5, 9, 10, 11, 12, 13, 15]]
C = input_list[0]
F = input_list[1]
H = input_list[2]

C = set(input_list[0])
F = set(input_list[1])
H = set(input_list[2])

print(sorted(list(C & F & H)))
print(sorted(list((C & F) - (C & F & H))))
print(sorted(list(((C & F) | (F & H) | (C & H)) - (C & F & H))))
print(sorted(list(set(range(1,21)) - (C | F | H))))

[2, 5, 9, 13]
[16]
[12, 15, 16]
[3, 8, 14, 20]