In [1]:
print("This is my first line of code in python")

This is my first line of code in python

In [2]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [3]:
a = 6
b = 7
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a // b)
print(a % b) 
print(a ** b)

13
-1
42
0.8571428571428571
0
6
279936

In [4]:
#BEDMAS
print(4 * 5 - 9 + 6 / 7)

11.857142857142858

In [5]:
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

10
9

In [6]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

True
False
True
True
True

In [7]:
small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

I AM UPPER CASED
i am lower cased

In [8]:
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [9]:
increment = '4%'
print(increment.rstrip('%'))

4

In [10]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [11]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [12]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [13]:
val = "2 apples"
no_of_apples = val[0] 
print('number of apples is', no_of_apples)

number of apples is 2

In [14]:
what = val[2:]
print(what)

apples

In [15]:
#slicing by specifying start and end index
print(val[2:5])

app

In [16]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [17]:
print(batch[ :-2])

5 oranges 3 monkeys

In [18]:
animals = batch[10:-2]
print(animals)

3 monkeys

In [19]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [20]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [22]:
odd_nums_again = nums[ :: 2]
print(odd_nums_again)

13579

In [23]:
first_name = "Monty"
last_name = 'Python'

In [24]:
name = first_name + " " + last_name
print(name)

Monty Python

In [27]:
age = 30
my_age = ("I am "+ str(age) + " years old")

In [28]:
My_age = "I am {0} years old".format(age)

In [29]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [30]:
#concat and update
name += ' ' + my_age
print(name)

Monty Python I am 30 years old

In [34]:
# String Split
# Description
# Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

# A sample output of the input 'Kumar_Ravi_003' is:
# Ravi
# Kumar
# 003
 
# Note that you need to print in the order first name, last name and customer code.


import ast,sys
input_str = 'Kumar_Ravi_003'
first_name = input_str[6:10]
second_name = input_str[0:5]
customer_code = input_str[11:14]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [1]:
word = "I love Python programming"
print(word[-18:-12])
print(word[7:13])

Python
Python

In [3]:
name = Varma

print(type(name))

NameError: name 'Varma' is not defined

In [4]:
4 % (1 + 9)**2 - 60 // (7 + 2)

-2